# Ignore different folders
ImportTestData
.bundle/
.jekyll-cache/
Gemfile
Gemfile.lock
_site/
vendor/

# Ignore all the temporary files
*.lyx~
*.m~

# Ignore all macOS files
*.DS_Store

# Ignore MATLAB sync files
*.asv
*.MATLABDriveTag
*.mat
