# Ignore different folders
ImportTestData
.bundle/
.jekyll-cache/
Gemfile
Gemfile.lock
_site/
vendor/

# Ignore all the temporary files
*.lyx~
*.m~

# Ignore all the macOS files
*.DS_Store

# Ignore all the MATLAB files
*.MATLABDriveTag
*.asv
*.mat
